<?xml version="1.0"?>
<config>
    <modules>
        <Profileo_Augment>
            <version>1.0.0</version>
        </Profileo_Augment>
    </modules>
    <global>
        <helpers>
            <augment>
                <class>Profileo_Augment_Helper</class>
            </augment>
        </helpers>
        <models>
        	<augment>
        		<class>Profileo_Augment_Model</class>     		
           	</augment>	
        </models>
    	<blocks>
    		<augment>
                <class>Profileo_Augment_Block</class>
            </augment>  
    	</blocks>        
		<resources>
			<augment_setup>
				<setup>
					<module>Profileo_Augment</module>
				</setup>
			</augment_setup>		
		</resources>        
    </global>
    <frontend>
        <layout>
            <updates>
                <augment>
                    <file>profileo_augment.xml</file>
                </augment>
            </updates>
        </layout>  	
    </frontend>
	<adminhtml>	
		 <acl>
			<resources>
			  <all>
				<title>Allow Everything</title>
			  </all>
			  <admin>
				<children>
				  <system>
					<children>
					  <config>
						<children>
						  <augment translate="title">
							<title>AugmentDev</title>
							<sort_order>100</sort_order>
						  </augment>
						</children>
					  </config>
					</children>
				  </system>
				</children>
			  </admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
			<augment>
				<general_settings>
					<active>1</active>
					<units>cm</units>
					<lang>fr</lang>
					<popin_style>dark</popin_style>					
				</general_settings>
				<products_3d>
					<location>0</location>
				</products_3d>
			</augment>
	</default>
</config>